h1 {
    margin: 0%;
    font-family: 'Six Caps', sans-serif;  
    color: white;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 3px;
    padding-left: 10px;   
 }
 
 #carouselExampleIndicators {
    margin-top: 5vh;
    margin-bottom: 4vh;
 }

 /*--------------------------------------  DESTACADOS    -------------------------------------------*/

.destacados {
    grid-area: destacados;
    display: inline-block;
    text-align: center;
    margin-bottom: 4vh;
 
       h2 {
          text-align: center;  
          font-size: 2.5em;
          margin-bottom: 5vh;
       }
 }
 
 #destacada1, #destacada2 {
    max-width: 48%;
 }

 .contenedor {
	width: 85%;
	margin: 0 auto;
   
   a {
      text-decoration: none;
   }
}

/*  ----------------   S H O P    H O M E  --------------------------*/

.tarjeta {
   border-style: solid;
   border-width: 5px; 
	border-radius: 15px;
	padding: 20px;
	display: flex;
   flex-wrap: wrap;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.tarjeta__productos {
   display: flex;
   flex-wrap: wrap;
	justify-content: center;
}

.tarjeta__img {
	width: 300px;
	height: 300px;
}
   .tarjeta__img:hover {
      transform: scale(1.1,1.1);   
   }

.tarjeta__titulo {
   text-align: center;  
   font-size: 2.5em;
   margin-bottom: 4vh;
   margin-top: 5vh;
}

.boton{
   margin: auto;
   margin-top: 3vh;
	height: 60px;
	padding: 20px;
	background-color: rgb(49, 179, 32);
	color: white;
	text-decoration: none;
   border-radius: 15px;
} 